{
  "dev_mode": false,
  "debug": false,
  "listen_addr": ":1234",
  "github": {
    "access_token": "your_github_access_token",
    "client_id": "your_client_id",
    "client_secret": "your_client_secret",
    "redirect_url": "http://your_domain/auth/github/callback",
    "user": "your_github_user",
    "repository": "your_github_repository"
  }
}
