.post {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--bg-secondary);
    border-radius: 1rem;
}

.post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.post__header a {
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

.post__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "upvotes comments"
    "detail detail";
    gap: 0.5rem;
}

.post__upvotes {
    grid-area: upvotes;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.post__upvotes .icon {
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
    background-image: var(--upvote);
}

.post__comments {
    display: none;
}

.post__comments + label {
    grid-area: comments;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    user-select: none;
}

.post__comments + label .icon {
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
    background-image: var(--comments);
}

.comments {
    grid-area: detail;
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

.post__comments:checked ~ .comments {
    display: flex;
}

.post__comments:checked + label {
    filter: opacity(0.7);
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--bg-primary);
    border-radius: 1rem;
}

.comment__author {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.comment__author a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
}

.comment__author img {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.comment__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "upvotes replies"
    "detail detail";
    gap: 0.5rem;
}

.comment__details > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.detail__upvotes {
    grid-area: upvotes;
}

.detail__upvotes .icon {
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
    background-image: var(--upvote);
}

.comment__replies {
    display: none;
}

.comment__replies + label {
    grid-area: replies;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    user-select: none;
}

.comment__replies + label .icon {
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
    background-image: var(--comments);
}

.replies {
    grid-area: detail;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
}

.comment__replies:checked ~ .replies {
    display: flex;
}

.comment__replies:checked + label {
    filter: opacity(0.7);
}

.reply {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--bg-secondary);
    border-radius: 1rem;
}

.reply__author {
    display: flex;
    column-gap: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    border-bottom: 2px solid var(--bg-primary);
}

.reply__author a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
}

.reply__author img {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}



