:root {
    --bg-error: #a65757;
    --text-error: #fff;
}

.dark {
    --bg-primary: #131b26;
    --bg-secondary: #0d1117;
    --nav-button-bg: #172231;
    --nav-button-bg-hover: #212c3b;
    --text-primary: #d3d8dd;
    --text-secondary: #828997;
    --bg-scrollbar: #373b41;
    --bg-scrollbar-thumb: #1f2228;
    --bg-scrollbar-thumb-hover: #232529;

    --arrow-down: url("/assets/icons/dark/arrow-down.png");
    --copy: url("/assets/icons/dark/copy.png");
    --delete: url("/assets/icons/dark/delete.png");
    --edit: url("/assets/icons/dark/edit.png");
    --github: url("/assets/icons/dark/github.svg");
    --save: url("/assets/icons/dark/save.png");
    --share: url("/assets/icons/dark/share.png");
    --close: url("/assets/icons/dark/close.png");
    --theme: url("/assets/icons/dark/theme.png");
    --star: url("/assets/icons/dark/star.png");
    --book: url("/assets/icons/dark/book.png");
    --fork: url("/assets/icons/dark/fork.png");
}

.light {
    --bg-primary: #fafafa;
    --bg-secondary: #ebecef;
    --nav-button-bg: #d1d5da;
    --nav-button-bg-hover: #dbdbdb;
    --text-primary: #282c34;
    --text-secondary: #525965;
    --bg-scrollbar: #ebecef;
    --bg-scrollbar-thumb: #d4d5dc;
    --bg-scrollbar-thumb-hover: #c3c8ce;

    --arrow-down: url("/assets/icons/light/arrow-down.png");
    --copy: url("/assets/icons/light/copy.png");
    --delete: url("/assets/icons/light/delete.png");
    --edit: url("/assets/icons/light/edit.png");
    --github: url("/assets/icons/light/github.svg");
    --save: url("/assets/icons/light/save.png");
    --share: url("/assets/icons/light/share.png");
    --close: url("/assets/icons/light/close.png");
    --theme: url("/assets/icons/light/theme.png");
    --star: url("/assets/icons/light/star.png");
    --book: url("/assets/icons/light/book.png");
    --fork: url("/assets/icons/light/fork.png");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: monospace;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--bg-secondary);
}

header div {
    display: flex;
    gap: 1rem;
}

header a {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

.icon {
    flex-shrink: 0;
    border: none;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;
}

.icon-btn {
    flex-shrink: 0;
    border: none;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--nav-button-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    cursor: pointer;
    color: var(--text-primary);
    transition: filter 0.2s ease-in-out;
}

.icon-btn:hover {
    filter: opacity(0.7);
}

.icon-btn:disabled {
    cursor: not-allowed;
    filter: opacity(0.2);
}

.time {
    font-size: 0.7rem;
    font-weight: 300;
    color: var(--text-secondary);
}

#github {
    background-image: var(--github);
}

#theme-toggle {
    display: none;
}

#theme-toggle + label {
    background-image: var(--theme);
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "home blog projects about"
    "content content content content";
    flex-grow: 1;
    padding: 1rem;
    gap: 1rem;
}

main > input[type="radio"] {
    display: none;
}

main > input[type="radio"] + label {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
}

main > input[type="radio"]:hover + label {
    background-color: var(--nav-button-bg-hover);
}

main > input[type="radio"]:checked + label {
    background-color: var(--nav-button-bg-hover);
}

main > input[type="radio"]:checked + label::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--text-primary);
    margin-top: 0.5rem;
}

.nav {
    display: none;
    grid-area: content;
    gap: 1rem;
}

.nav > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40rem;
    margin: 0 auto;
}

#nav-home:checked ~ .nav.home,
#nav-blog:checked ~ .nav.blog,
#nav-projects:checked ~ .nav.projects,
#nav-about:checked ~ .nav.about {
    display: flex;
}

pre code {
    display: block;
    padding: 1rem;
    overflow-x: auto;
    border-radius: 1rem;
}

footer {
    text-align: center;
}

footer a {
    color: inherit;
    text-decoration: none;
}

