:root {
    --bg-error: #a65757;
    --text-error: #fff;
}

.dark {
    --bg-primary: #1f2834;
    --bg-primary-hover: #2d3949;
    --bg-secondary: #131b26;
    --nav-button-bg: #222e41;

    --text-primary: #d3d8dd;
    --text-secondary: #828997;

    --link-color: #4f92de;
    --link-color-hover: #346daf;
    --link-color-visited: #326fb4;

    --arrow-down: url("/assets/icons/dark/arrow-down.png");
    --copy: url("/assets/icons/dark/copy.png");
    --delete: url("/assets/icons/dark/delete.png");
    --edit: url("/assets/icons/dark/edit.png");
    --github: url("/assets/icons/dark/github.svg");
    --save: url("/assets/icons/dark/save.png");
    --share: url("/assets/icons/dark/share.png");
    --close: url("/assets/icons/dark/close.png");
    --theme: url("/assets/icons/dark/theme.png");
    --star: url("/assets/icons/dark/star.png");
    --book: url("/assets/icons/dark/book.png");
    --fork: url("/assets/icons/dark/fork.png");
    --comments: url("/assets/icons/dark/comments.png");
    --upvote: url("/assets/icons/dark/upvote.png");
}

.light {
    --bg-primary: #fafafa;
    --bg-primary-hover: #dbdbdb;
    --bg-secondary: #ebecef;
    --nav-button-bg: #d1d5da;

    --text-primary: #282c34;
    --text-secondary: #525965;

    --link-color: #155aa8;
    --link-color-hover: #1457a4;
    --link-color-visited: #0e4077;

    --arrow-down: url("/assets/icons/light/arrow-down.png");
    --copy: url("/assets/icons/light/copy.png");
    --delete: url("/assets/icons/light/delete.png");
    --edit: url("/assets/icons/light/edit.png");
    --github: url("/assets/icons/light/github.svg");
    --save: url("/assets/icons/light/save.png");
    --share: url("/assets/icons/light/share.png");
    --close: url("/assets/icons/light/close.png");
    --theme: url("/assets/icons/light/theme.png");
    --star: url("/assets/icons/light/star.png");
    --book: url("/assets/icons/light/book.png");
    --fork: url("/assets/icons/light/fork.png");
    --comments: url("/assets/icons/light/comments.png");
    --upvote: url("/assets/icons/light/upvote.png");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-size: calc(0.8em + 0.3vw);
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: monospace;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--bg-secondary);
}

header div {
    display: flex;
    gap: 1rem;
}

header a {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--text-primary);
}

.icon {
    flex-shrink: 0;
    border: none;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;
}

.icon-btn {
    flex-shrink: 0;
    border: none;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--nav-button-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    cursor: pointer;
    color: var(--text-primary);
    transition: filter 0.2s ease-in-out;
}

.icon-btn:hover {
    filter: opacity(0.7);
}

.icon-btn:disabled {
    cursor: not-allowed;
    filter: opacity(0.2);
}

.time {
    font-size: 0.7rem;
    font-weight: 300;
    color: var(--text-secondary);
}

#github {
    background-image: var(--github);
}

#theme-toggle {
    display: none;
}

#theme-toggle + label {
    background-image: var(--theme);
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "home blog projects"
    "content content content";
    flex-grow: 1;
    padding: 1rem;
    row-gap: 1rem;
}

main > input[type="radio"] {
    display: none;
}

main > input[type="radio"] + label {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
}

main > input[type="radio"]:hover + label {
    background-color: var(--bg-primary-hover);
}

main > input[type="radio"]:checked + label::after {
    content: "";
    display: block;
    height: 0.2rem;
    background-color: var(--text-primary);
    margin-top: 0.2rem;
}

.nav {
    display: none;
    grid-area: content;
}

.nav > div {
    margin: 0 auto;
    width: 40rem;
}

.nav.blog > div,
.nav.projects > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#nav-home:checked ~ .nav.home,
#nav-blog:checked ~ .nav.blog,
#nav-projects:checked ~ .nav.projects {
    display: flex;
}

.ch-chroma {
    padding: 1rem;
    border-radius: 0.5rem;
}

footer {
    text-align: center;
}

footer a {
    color: var(--text-primary);
    text-decoration: none;
}

.load-more {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--bg-primary-hover);
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
    color: var(--text-primary);
}

.load-more:hover {
    filter: opacity(0.7);
}

.load-more.loading {
    cursor: progress;
    color: transparent;

    background-image: url("/assets/icons/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;
}