<!DOCTYPE html>
<html lang="en" class="{{ if .Dark }}dark{{ else }}light{{ end }}">

<head>
    <meta charset="utf-8">
    <title>topi</title>
    <meta name="description" content="topi.wtf is my personal portfolio site">

    <link rel="stylesheet" type="text/css" href="/assets/style.css">

    <link rel="icon" href="/assets/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#5c5fea">

    <style id="markdown-style">
        {{ .CSS }}
    </style>
</head>