<header>
    <a title="topi.wtf" href="/">topi.wtf</a>

    <div>
        <a title="GitHub" id="github" class="icon-btn" href="https://github.com/TopiSenpai/topi.wtf" target="_blank"></a>

        <input id="theme-toggle" type="checkbox">
        <label title="Toggle Theme" class="icon-btn" for="theme-toggle"></label>
    </div>
</header>